@font-face {
  font-family: bohemian-typewriter.regular;
  src: url(./typefaces/bohemian-typewriter.regular.ttf);
}


body {
  font-family: bohemian-typewriter.regular;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFFFF0;
}

h1 {
  position: absolute;
  top: 5%;
}
