@font-face {
  font-family: bohemian-typewriter.regular;
  src: url(./typefaces/bohemian-typewriter.regular.ttf);
}


body {
  font-family: bohemian-typewriter.regular;
  display: flex;
  justify-content: center;
  align-items: center;  
}
